#homepage{
    text-align:center;
}
.btn-facebook {
    background-color: #4aa1f3;
    border-radius: 0%;
    color: #fff;
    width: auto;
}
.btn-facebook:link,.btn-facebook:visited{
    text-decoration: none;
    background-color: #4aa1f3;
    color: #fff;
}

.btn-gplus {
    background-color: #e44b34;
    color: #fff;
    border-radius: 0%;
    color: #fff;
    width: auto;
}

.btn-instagram {
    background-color: rgb(195,42,163);
    color: #fff;
    border-radius: 0%;
    
    width: auto;
}

